page-animals {
    .container{
        background-image: url('../../assets/imgs/try2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}

.box{
    background-color: rgb(173, 173, 190);
    
}

.btn{
    background-color: rgb(20, 20, 19);
    border-radius: 100px;
    
    
}

}
