page-home {

    .container{
    
        background-image: url('../../assets/imgs/try2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .button{
        margin-top: 10px;
       margin-left: 10px;
        padding: 10px 20px;
       
        border-radius: 8px;
        background: #1f1c2c; 
        background: -webkit-linear-gradient(
          to right bottom,
          #928dab,
          #1f1c2c
        ); 

        background: linear-gradient(
          to right bottom,
          #928dab,
          #1f1c2c
        );

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
       
      
    }
}
